#i{
    height: 70px;
    width: 70px;
    border-radius: 10px 10px 10px 10px;
}

            
.bg-container {
  background-image: linear-gradient(to right, #5B86E5 0%,  #36D1DC 100%);
  background-size:cover;
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position:center center;
  height: 100vh;
  width:100%
}   


#b{
    background-image: linear-gradient(to right,#C04848 0%, #480048  51%, #C04848  100%);
    background-size: 200% auto;
    color: #fff;
    border-radius: 25px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    border: none !important;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
    margin-top: 14px;
    display: inline-block;
    width: 192px;
    height: 40px;
}
 
 
#b:hover{
    background-position: right center;

}
#ul{
    height:500px;
    width:700px;
    display:flex;
    justify-content:center;
    align-items: center;
}
#img{
    height: 500px;
    width:700px;
    box-shadow: #777575;
    border-radius: 25px;
}
#im{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
                 
  #leader {
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    
    border-radius: 10px;
    display: block;
  }

  #leader:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
         
  #user{
    background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
   
    border-radius: 10px;
  
  }

  #user:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
           
  .bg-contain {
    background-image: url("./Images/bluebg.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position:center center;
    height: 100vh;
    width:100%
  }   
         
           

 
 
 #aul{
  background: linear-gradient(to right,  #12fff7 0%,#11b0cc 51%, #12fff7 100%); 
 }
          
            
 .btn-grad {
  background-image: linear-gradient(to right, #FDFC47 0%, #24FE41  51%, #FDFC47  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000000;            
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #000;
  text-decoration: none;
}
         
.btn-gra {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
  margin: 10px;
  padding: 15px 55px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(17, 17, 17);            
 
  border-radius: 25px;
 
}

.btn-gra:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

 #icon{
  height:20px;
  width:20px;
  border-radius: 10px;
 }     
 

 
  
 